$chart__font-size: 16px;
$chart__color: black;
$chart__background-color: white;

$chart-legend__font-size: $chart__font-size;
$chart-legend__border: 3px solid darkgray;
$chart-legend__color: black;
$chart-legend__background-color: lightgray;
